*{
    font-family: monospace;
    font-size: 14px;
    min-height: 0;
    color: white;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    border-radius: 15px;
    margin-right: 10px;
    padding: 1px 10px;
    font-weight: bolder;
    background-color: #181818;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 22px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
    background: #571b8f;
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#sway-language,
#custom-recorder,
#custom-audiorec,
#custom-redshift,
#battery, 
#clock, 
#network {
	padding: 0 10px;
}
