window {
margin: 0px;
border: 1px solid #000000;
border-radius: 15px;
background-color: rgba(40,42,54,0.6);
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: rgba(68,71,90,0.5);
}

#inner-box {
margin: 5px;
border: none;
background-color: rgba(40,42,54,0.4);
}

#outer-box {
margin: 5px;
border: none;
background-color: rgba(40,42,54,0.4);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #282a36;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: rgba(68,71,90,0.6);
}

#entry:selected #text {
font-weight: bold;
} 
